{% extends "base.html" %}
{% block content %}

    <!-- Content section -->
    <div class="container mt-4">
        <h2 class="text-center mb-4">About Us</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p>Welcome to Daily Quotes! We are passionate about inspiring and motivating individuals through the power of words. Our mission is to provide you with daily doses of wisdom, positivity, and encouragement to brighten your day and uplift your spirits.</p>
                <p>At Daily Quotes, we curate a collection of thought-provoking quotes from renowned authors, philosophers, leaders, and thinkers from around the world. Whether you're seeking inspiration, motivation, or simply a moment of reflection, you'll find it here.</p>
                <p>Our team is dedicated to delivering high-quality content that resonates with our audience. We believe that words have the power to inspire change, spark creativity, and transform lives. Join us on this journey as we explore the profound impact of language and share the wisdom of the ages.</p>
            </div>
        </div>
    </div>
    {% endblock content %}